<!DOCTYPE html>
<html>
<head>
  <title>SpotyPi</title>
  <style>
    .box {
      width: 800px; /* Ubah ukuran kotak di sini */
      height: 300px; /* Ubah ukuran kotak di sini */
      background-color: #f0f0f0;
      border: 2px solid #ccc;
      padding: 20px;
      margin: 0 auto; /* Kotak akan berada di tengah */
      text-align: center; /* Tulisan di tengah kotak */
    }
    .bold {
      font-weight: bold; /* Tulisan dijadikan tebal */
      color: blue; /* Warna tulisan diubah menjadi biru */
      font-size: 24px; /* Ukuran tulisan diperbesar */
    }
  </style>
</head>
