<!DOCTYPE html>
<html>
<head>
  <title>SpotyPi</title>
  <style>
    .box {
      width: 800px; /* Ubah ukuran kotak di sini */
      height: 300px; /* Ubah ukuran kotak di sini */
      background-color: #f0f0f0;
      border: 2px solid #ccc;
      padding: 20px;
      margin: 0 auto; /* Kotak akan berada di tengah */
      text-align: center; /* Tulisan di tengah kotak */
    }
    .bold {
      font-weight: bold; /* Tulisan dijadikan tebal */
      color: blue; /* Warna tulisan diubah menjadi biru */
      font-size: 24px; /* Ukuran tulisan diperbesar */
    }
  </style>
</head>
<body class="bg-gradient-to-r from-purple-500 to-pink-500">
  <h1> </h1>
  <div class="box">
  <p><span class="bold">Nikmati Musik Sesukamu di Our Music!</span></p>
    <p><span class="">Tujuan utama Anda untuk menemukan, berbagi, dan merasakan musik dengan cara yang belum pernah ada sebelumnya. Our Music adalah platform canggih yang dirancang untuk menghubungkan pecinta musik, artis, dan kreator dari seluruh dunia. Apakah Anda seorang pendengar setia, musisi pemula, atau artis berpengalaman, Our Music menawarkan ruang di mana Anda dapat menjelajahi berbagai genre, menemukan favorit baru, dan menampilkan bakat Anda.</span></p>
  </div>
</body>
</html>