<!DOCTYPE html>
<html>
<head>
  <title>SpotyPi</title>
  <style>
  
  .box {
    width: 800px; /* Ubah ukuran kotak di sini */
    height: 300px; /* Ubah ukuran kotak di sini */
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    padding: 20px;
    margin: 0 auto; /* Kotak akan berada di tengah */
    text-align: center; /* Tulisan di tengah kotak */
  }
  .bold {
    font-weight: bold; /* Tulisan dijadikan tebal */
    color: blue; /* Warna tulisan diubah menjadi biru */
    font-size: 24px; /* Ukuran tulisan diperbesar */
  }
  
  </style>
  </head>
  <body class="h-14 bg-gradient-to-r from-cyan-500 to-blue-500">
  <h1> </h1>
  <div class="box">
  <p><span class="bold">Selamat Datang di Our Music!</span></p>
  <p><span class="bold">Nikmati Musik Sesukamu di Our Music</span></p>
    <p><span class="">Our Music adalah platform musik revolusioner yang menghubungkan pendengar dengan artis favorit mereka melalui pengalaman mendengarkan yang personal dan interaktif. Didesain dengan teknologi canggih dan antarmuka yang intuitif, Our Music menawarkan akses mudah dan tanpa batas ke dunia musik yang penuh inspirasi.</span></p>
  </div>
</body>
</html>